body{
	background-color:#EFF1F8;
}

.dropdown:hover>.dropdown-menu{
  display: block;

}
.dropright:hover>.dropdown-menu{
  display: block;

}

.dropdown-item{
	color: white;
}
.dropdown-menu{
	text-align: center;
	font-size: 18px;
}

.carousel-item{
	height: 50vh;
	background: no-repeat center center scroll;
	-webkit-background-size:cover;
	background-size: cover;
	font-weight: bold;
}
.navbar a:hover{
	font-size: 19px;
	background-color: #48D1CC;
	color:white;
	font-weight: bold;
}
.nav-link#home2{
	font-size: 19px;
	color: white;
}
.card:hover{
	-webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
	 box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);

}
.card:hover{
	transform: scale(1.2);
}
.form-control{
	min-width: 450px;
}
.scrollable{
	height: 900px;
	overflow: scroll;

}
.footer{
	background-color: #E6F8E0;
}
